@model Mesas
@{
    ViewData["Title"] = "Editar Mesas";
}
<h1>Editar la información de la mesa: @Model.num_mesa</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Editar">
    <input type="hidden" asp-for="id_mesa" />
    <div class="mb-3" hidden>
        <label asp-for="estado_mesa" class="form-label">Estado de la mesa</label>
        <input type="text" asp-for="estado_mesa" class="form-control" value="Disponible" readonly />
        <span asp-validation-for="estado_mesa" class="text-danger"></span>
    </div>
    <!-- <div class="mb-3" hidden>
        <label asp-for="num_mesa" class="form-label">Numero de la mesa</label>
        <input type="text" asp-for="num_mesa" class="form-control" />
        <span asp-validation-for="num_mesa" class="text-danger"></span> 
    </div>-->
    <div class="mb-3">
        <label asp-for="capacidad_mesa" class="form-label">Capacidad de la mesa</label>
        <input type="number" asp-for="capacidad_mesa" class="form-control" />
        <span asp-validation-for="capacidad_mesa" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}